VITE_APP_BASEURL=http://localhost:3000/api/v1/
VITE_APP_BUSINESS_NAME=Mobee.lk
VITE_APP_BUSINESS_HORIZONTAL_LOGO=https://res.cloudinary.com/gxsancbf/image/upload/v1787321325/Mobee-suite.png
VITE_APP_BUSINESS_VERTICAL_LOGO=https://res.cloudinary.com/gxsancbf/image/upload/v1787321325/mobee-suite-3.png
VITE_APP_ENV=development
